@import './../app';

.daymarkbio {
  @extend %backgrounds;
  @extend %layout;
  background-image: url('/images/background-bio.jpg');
  background-color: transparentize($black, 0.7);
  background-blend-mode: hard-light;

  h1,
  p {
    @extend %main-text;
    word-break: break-word;
    line-height: 2.4;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 11px;
    margin-bottom: 2rem;
  }
}
