%main-text {
  font-family: 'Futura Bk', sans-serif;
  margin: 0;
  color: $white;
  font-weight: 100;
  text-shadow: 1px 1px 4px transparentize($black, 0.7);
}

%backgrounds {
  background-position: center center;
  background-size: cover;

  width: 100%;
  min-height: 100vh;
}

%layout {
  padding: 3rem 5rem;
}

%menu-link {
  @extend %main-text;
  text-decoration: none;
  line-height: 2.5;
  text-transform: uppercase;
  letter-spacing: 11px;
}
