$desktop-hd-min-width: 1536px;
$desktop-min-width: 1024px;
$tablets-max-width: 1024px;
$phones-max-width: 768px;

@mixin media-query($size) {
  @if $size == mobile {
    @media screen and (max-width: $phones-max-width) { @content; }
  } @else if $size == tablet {
    @media screen and (max-width: $tablets-max-width) { @content; }
  } @else if $size == desktop {
    @media screen and (min-width: $desktop-min-width) { @content; }
  } @else if $size == hd {
    @media screen and (min-width: $desktop-hd-min-width) { @content; }
  }
}

@include media-query(mobile) {
  html {
    font-size: 12px;
  }
}

@include media-query(tablet) {
  html {
    font-size: 14px;
  }
}

@include media-query(hd) {
  html {
    font-size: 18px;
  }
}
