@font-face {
  font-family: 'Diamonds';
  src: url('../assets/fonts/diamonds/DiamondsBlack.eot');
  src: url('../assets/fonts/diamonds/DiamondsBlack.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/diamonds/DiamondsBlack.woff2') format('woff2'),
       url('../assets/fonts/diamonds/DiamondsBlack.woff') format('woff'),
       url('../assets/fonts/diamonds/DiamondsBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
