$defaultFont: "Futura Bk", Arial, sans-serif;

$defaultFontSize: 1em;
$defaultFontWeight: normal;
$defaultLineHeight: 1;
$defaultBorderRadius: 3px;

$white: #FFFFFF;
$lightGrey: #555555;
$black: #000000;

$h1FontSize: 8rem;
$h2FontSize: $h1FontSize / 2;
