@import '_fonts';
@import '_variables';
@import '_scaffolding';

body {
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

.background-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -4px;
  left: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  text-align: center;
  padding-top: 5vh;

  .social-icons,
  .ep-available {
    height: 20%;
  }

  .social-icons {
    align-self: flex-end;
    padding-right: 1rem;

    .social-icons_links {
      margin-right: 2rem;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .title {
    height: 50%;
    font-size: $h1FontSize;
    text-transform: uppercase;
  }

  .ep-available {
    width: 100%;

    .ep-available_title {
      font-size: $h2FontSize;
      text-transform: uppercase;
      color: $white;
    }

    .ep-available_list {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding: 0 15%;

      .ep-available_list__item {
        margin-top: 4rem;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .contact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    font-size: 1.6em;
    color: $white;

    a {
      color: $white;
      margin: 1em 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
